
<h3>New Idea</h3>



<form class="" action="/ideas" method="post">
  <input type="text" name="idea" id="idea" placeholder="Idea">
  <br><br>
  <h4>Choose 1 Category for your Idea</h4>
  <%Category.all.each do |category|%>
    <input type="checkbox" name="category[name]" value="<%=category.name%>" id="<%=category.name%>"><%=category.name%></input>
    <br>
  <% end %>
  <label for="">Or create a new one</label>
  <br>
  <input type="text" name="category[new]" id="category" placeholder="New Category">
  <br><br>
  <input type="submit" value="submit">
</form>
