<h2>Login</h2>


<form class="" action="/login" method="post">
  <input type="text" name="username" id="username" placeholder="Username">
  <br>
  <input type="password" name="password" id="password" placeholder="Password">
  <br><br>
  <input type="submit" value="Login">
</form>


<form action="index.html" method="post">
  <div class="form-group">
    <div class="col-md-4 mb-3">
      <label for="validationServerUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend3">@</span>
        </div>
        <input type="text" class="form-control" id="validationServerUsername" placeholder="Username" aria-describedby="inputGroupPrepend3" required>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServer01">First name</label>
      <input type="text" class="form-control" id="validationServer01" placeholder="First name" value="Mark" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServer02">Last name</label>
      <input type="text" class="form-control" id="validationServer02" placeholder="Last name" value="Otto" required>
    </div>

  </div>
</form>
