<h4><%=@user.username%>'s Ideas</h4>


<%@user.ideas.reverse.each do |idea|%>

<div class="card col-sm-8 bg-light mb-2">
  <div class="card-body bg-light">


    <div class="d-flex w-100 justify-content-between">
      <h5 class="card-text"><a href="/ideas/<%=idea.id%>" class="card-link"><%=idea.content%></a></h5>
      <h6 class="card-text">Category: <a href="#" class="card-link"><%=idea.category.name%></a></h6>

    </div>
  </div>
</div>
<% end %>
