<h2>Signup</h2>


<!-- <form class="" action="/signup" method="post">
  <input type="text" name="username" id="username" placeholder="Username">
  <br><br>
  <input type="text" name="email" id="email" placeholder="Email">
  <br><br>
  <input type="password" name="password" id="password" placeholder="Password">
  <br><br>

  <input type="submit" value="signup">
</form> -->


<form action="/signup" method="post">
  <div class="form-group">
    <div class="col-md-4 mb-3">
      <label for="validationServer01">Username</label>
      <input type="text" name="username" class="form-control" id="validationServer01" placeholder="Username" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServerUsername">Email</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text text-white bg-primary" id="inputGroupPrepend3">@</span>
        </div>
        <input type="text" name="email" class="form-control" id="validationServerUsername" placeholder="Email" aria-describedby="inputGroupPrepend3" required>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServer02">Password</label>
      <input type="password" name="password" class="form-control" id="validationServer02" placeholder="Password" required>
    </div>
  </div>
  <div class="col-md-4">
    <input type="submit" class="btn btn-primary" value="Signup">
  </div>

</form>
