
<h3 class="card-header text-center bg-light">Edit Category</h3>
<br><br>


<div class="container col-sm-4">

  <form action="/categories/<%=@category.id%>" method="post">
    <input type="hidden" id="hidden" name="_method" value="patch">
    <div class="form-row">
      <div class="col">
        <input type="text" name="name" class="form-control" value="<%=@category.name%>" required>
      </div>
      <input type="submit" class="btn btn-primary" value="Add Change">
    </div>
  </form>
</div>
